<div class="form-container">
  <form class="training-form" [formGroup]="trainingRequestForm">
    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Epochs</mat-label>
      <mat-select formControlName="epochs" id="epochs">
        <mat-option *ngFor="let epoch of possibleEpochs" [value]="epoch">{{epoch}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Learning Rate</mat-label>
      <mat-select formControlName="learningRate" id="learningRate">
        <mat-option *ngFor="let learningRate of possibleLearningRates" [value]="learningRate">{{learningRate}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Batch Size</mat-label>
      <mat-select formControlName="batchSize" id="batchSize">
        <mat-option *ngFor="let batchSize of possibleBatchSizes" [value]="batchSize">{{batchSize}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Base Model</mat-label>
      <mat-select formControlName="baseModel" id="baseModel">
        <mat-option *ngFor="let baseModel of possibleBaseModels" [value]="baseModel">{{baseModel}}</mat-option>
      </mat-select>
    </mat-form-field>
    <div class="radio-container">
      <mat-label class="radio-label">Include User Generated Labels?</mat-label>
      <mat-radio-group formControlName="includeUserLabels" id="includeUserLabels" class="radio-group">
        <mat-radio-button [value]="true" class="radio-button">Yes</mat-radio-button>
        <mat-radio-button [value]="false" class="radio-button">No</mat-radio-button>
      </mat-radio-group>
    </div>
    <button
      mat-flat-button
      color="accent"
      (click)="onSubmit()">Begin Training</button>
  </form>
</div>
