<div class="header-container">
  <div class="logo-container">
    <img class="logo-image" src="assets/images/twitter-logo.png">
    <div class="logo-name">Tweet QA</div>
  </div>
  <button mat-button [matMenuTriggerFor]="menu" class="main-menu">
    <mat-icon class="menu-icon">menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item [routerLink]="[rootRoute]">Home</button>
    <button mat-menu-item *ngIf="!(isAuthenticated|async)" [routerLink]="[adminAuthRoute]">Admin Login</button>
    <button mat-menu-item *ngIf="(isAuthenticated|async)" [routerLink]="[adminTrainingRoute]">New Training</button>
    <button mat-menu-item *ngIf="(isAuthenticated|async)" [routerLink]="[adminVisitorRoute]">Invite Visitors</button>
    <button mat-menu-item *ngIf="(isAuthenticated|async)" (click)="onLogout($event)">Sign Out</button>
  </mat-menu>
</div>
